.DS_Store
**/ParlaMint-SI5.1/
**/ParlaMint-SI_full_dataset.tsv
**/LRGEN-GALTAN_check.csv
**/LRGEN-GALTAN-sanity-check.csv
**/ParlaMint_CHES_interpolated_values.tsv
**/Sample_interpolated_values.tsv
**/Cross-corpus_Analysis/*/*.xlsx